<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- FAVE ICON -->
		<link rel="shortcut icon" href="/images/" />
		<!-- FONT IMPORT -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS/STYLESHEET -->
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!-- PAGE TITLE -->
		<title>Jirah Mae's Portfolio</title>
	</head>

	<body>
		<!-- TOP NAVIGATION -->
		<header class="header">
			<div class="logo">
				<a href="/">
					<img src="images/jm.svg" alt="JM" />
				</a>
			</div>
			<div class="navigation">
				<input type="checkbox" class="toggle-menu" />
				<div class="hamburger"></div>

				<ul class="top-nav">
					<li><a href="/">Home</a></li>
					<li><a href="#">About Me</a></li>
					<li><a href="/#work">Work</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</header>

		<!-- ABOUT ME -->
		<section id="about-body">
			<div class="about-text">
				<section id="about-pic">
					<picture>
						<source media="(max-width: 576px)" srcset="images/aboutSM.svg" />
						<source media="(min-width: 577px)" srcset="images/aboutLG.svg" />
						<img src="/images/aboutLG.svg" />
					</picture>
				</section>
				<div class="about-body">
					<p>
						I'm a digital product designer passionate about solving complex
						problems with delightful, human-centered solutions.
					</p>

					<p>
						I designed at Royal Caribbean as part of their Excalibur program, a
						digital transformation initiative focusing on special projects for
						guest as well as crew experiences.
					</p>

					<p>
						Prior to that, I worked as a data analyst and project manager at
						tech companies ranging from small startups to Fortune 500
						corporations, moved from Silicon Valley to Shanghai to South
						Florida, and grew increasingly intrigued by product design all along
						the way. While my career path thus far looks a bit more like a
						jungle gym than a ladder, it has enabled me to bring a unique
						perspective to building great products today. (Besides, jungle gyms
						are more fun!)
					</p>

					<p>
						Outside of work, I enjoy volunteering as an ESL teacher (I'm
						certified by Cambridge University, and had a brief stint teaching
						English abroad in China), planning my next vacation, consuming
						artisinal ice cream, and going down Internet rabbit holes.
					</p>

					<p>Please feel free to reach out and get to know me!</p>
				</div>
			</div>
		</section>

		<!-- CONTACT -->
		<section id="contact">
			<div class="bot">
				<div class="cta"><h3>Have your people contact my people ☎️</h3></div>
				<ul class="bot-nav">
					<li>Email<br /><a href="#">JirahMae@Site.com</a></li>
					<li>Resume<br /><a href="#">Download PDF</a></li>
					<li>LinkedIn<br /><a href="#">/in/JirahMae</a></li>
					<li>Medium<br /><a href="#">@JirahMae</a></li>
				</ul>
			</div>
		</section>

		<!-- FOOTER -->
		<section id="footer">
			<div class="copyright">&copy; 2021 Jirah Mae</div>
		</section>
	</body>
	<script>
		console.log('GO AWAY!')
	</script>
	<!-- Hey, I see you, inspecting my code. Stop that, you person you. -->
</html>
