<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- FAVE ICON -->
		<link rel="shortcut icon" href="/images/" />
		<!-- FONT IMPORT -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS/STYLESHEET -->
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!-- PAGE TITLE -->
		<title>Jirah Mae's Portfolio</title>
	</head>

	<body>
		<!-- TOP NAVIGATION -->
		<header class="header">
			<div class="logo">
				<a href="/">
					<img src="images/jm.svg" alt="JM" />
				</a>
			</div>
			<div class="navigation">
				<input type="checkbox" class="toggle-menu" />
				<div class="hamburger"></div>

				<ul class="top-nav">
					<li><a href="#">Home</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="#work">Work</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</header>

		<!-- HERO/SPLASH -->
		<section id="headertop">
			<picture>
				<source media="(max-width: 576px)" srcset="images/headerSM.svg" />
				<source media="(min-width: 577px)" srcset="images/headerLG.svg" />
				<img src="/images/headerLG.svg" />
			</picture>
		</section>

		<!-- WORK -->
		<section id="work">
			<div class="work-containers">
				<div id="work-01">
					<div class="work-body1">
						<div class="work-header1">
							<h2>Silent Moon</h2>
						</div>
						<div class="work-paragraph1">
							<p>UI Case Study</p>
						</div>
						<div class="work-button1">
							<button
								class="button"
								type="button"
								onclick="location.href='/works';"
							>
								<span>Read Me</span>
							</button>
						</div>
					</div>
					<div class="work-image1">
						<!-- <img alt="" src="images/CSfoodie.svg">  -->
					</div>
				</div>
				<div id="work-02">
					<div class="work-body2">
						<div class="work-header2">
							<h2>Fuddi Buddi</h2>
						</div>
						<div class="work-paragraph2">
							<p>Food Case Study</p>
						</div>
						<div class="work-button2">
							<button
								class="button"
								type="button"
								onclick="location.href='/works';"
							>
								<span>Eat More</span>
							</button>
						</div>
					</div>
					<div class="work-image2">
						<!-- <img alt="" src="images/CSmoon.svg"> -->
					</div>
				</div>

				<div id="work-03">
					<div class="work-body3">
						<div class="work-header3">
							<h2>Wyre Byer</h2>
						</div>
						<div class="work-paragraph3">
							<p>Sleepy weepy nappy time.</p>
						</div>
						<div class="work-button3">
							<button
								class="button"
								type="button"
								onclick="location.href='/works';"
							>
								<span>Sleep More</span>
							</button>
						</div>
					</div>
					<div class="work-image3">
						<!-- <img alt="" src="images/CSwyer.svg"> -->
					</div>
				</div>
			</div>
		</section>

		<!-- CONTACT -->
		<section id="contact">
			<div class="bot">
				<div class="cta"><h3>Have your people contact my people ☎️</h3></div>
				<ul class="bot-nav">
					<li>Email<br /><a href="#">JirahMae@Site.com</a></li>
					<li>Resume<br /><a href="#">Download PDF</a></li>
					<li>LinkedIn<br /><a href="#">/in/JirahMae</a></li>
					<li>Medium<br /><a href="#">@JirahMae</a></li>
				</ul>
			</div>
		</section>

		<!-- FOOTER -->
		<section id="footer">
			<div class="copyright">&copy; 2021 Jirah Mae</div>
		</section>
	</body>

	<script>
		console.log('GO AWAY!')
	</script>
	<!-- Hey, I see you, inspecting my code. Stop that, you person you. -->
</html>
