<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- FAVE ICON -->
		<link rel="shortcut icon" href="/images/" />
		<!-- FONT IMPORT -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS/STYLESHEET -->
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!-- PAGE TITLE -->
		<title>Jirah Mae's Portfolio</title>
	</head>

	<body>
		<!-- TOP NAVIGATION -->
		<header class="header">
			<div class="logo">
				<a href="/">
					<img src="images/jm.svg" alt="JM" />
				</a>
			</div>
			<div class="navigation">
				<input type="checkbox" class="toggle-menu" />
				<div class="hamburger"></div>
				<ul class="top-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</header>

		<!-- HERO/SPLASH -->
		<section id="headertop">
			<picture>
				<source media="(max-width: 576px)" srcset="images/Case01SM.svg" />
				<source media="(min-width: 577px)" srcset="images/Case01LG.svg" />
				<img src="/images/Case01LG.svg" />
			</picture>
		</section>

		<!-- POST -->
		<section id="purpleboxes">
			<div class="flex-gap">
				<div id="one" class="box">
					<h2>Client:</h2>
					<p>Sleepy Weepy Nappy</p>
					<p>Time LLC</p>
				</div>
				<div id="two" class="box">
					<h2>Time line:</h2>
					<p>4 weeks</p>
				</div>
				<div id="three" class="box">
					<h2>Role:</h2>
					<p>UI Research</p>
					<p>Illustrations</p>
					<p>UI Design Concepts</p>
				</div>
				<div id="four" class="box">
					<h2>Team:</h2>
					<p>Solo Projects</p>
				</div>
			</div>
		</section>

		<section id="post-challenge">
			<div class="post">
				<h3>The Challenge</h3>
				<p>
					Pie pastry tart fruitcake chocolate cake. Fruitcake bonbon brownie
					cake jujubes cupcake bonbon halvah sweet roll. Sesame snaps icing
					marshmallow chocolate macaroon ice cream. Dragée chocolate macaroon
					cupcake cookie fruitcake tootsie roll croissant gummi bears. Cupcake
					bear claw oat cake. Gummi bears muffin tart. Powder ice cream jujubes
					candy gummi bears. Powder icing fruitcake tootsie roll. Caramels
					pudding sweet roll. Sweet roll jelly-o halvah sweet roll chocolate.
					Chocolate soufflé lemon drops. Lemon drops tart tootsie roll macaroon
					soufflé donut apple pie. Cake cupcake ice cream chupa chups fruitcake
					liquorice tootsie roll bear claw. Jelly beans sugar plum croissant
					cake.
				</p>
			</div>
		</section>

		<section id="post-role">
			<div class="post">
				<h3>Designing with the User in Mind</h3>
				<p>
					Chocolate bar oat cake sugar plum. Cheesecake dragée danish sweet roll
					oat cake sugar plum gummi bears danish. Tart cupcake tart dessert
					tootsie roll cake wafer brownie brownie. Sweet chupa chups cookie
					candy canes donut. Pudding tart dragée oat cake powder. Chocolate cake
					icing halvah jelly bonbon biscuit icing apple pie.<br /><br />Cotton
					candy tiramisu danish biscuit sugar plum liquorice caramels fruitcake
					sweet. Halvah bonbon carrot cake dessert sesame snaps sweet bear claw
					bear claw. Icing cupcake marshmallow macaroon carrot cake biscuit
					sweet roll. Chupa chups jujubes wafer. Tiramisu gummies danish. Toffee
					sesame snaps marshmallow. Marzipan caramels jelly beans jujubes
					brownie. Brownie wafer jelly beans pastry liquorice gummi bears.
				</p>
			</div>
		</section>

		<section id="post-visuals">
			<div class="post">
				<h3>UI Research Data</h3>
				<picture>
					<source
						media="(max-width: 576px)"
						srcset="images/Case01ChartsSM.svg"
					/>
					<source
						media="(min-width: 577px)"
						srcset="images/Case01ChartsLG.svg"
					/>
					<img src="/images/Case01ChartsLG.svg" />
				</picture>
			</div>
		</section>

		<section id="post-extra">
			<div class="post">
				<h3>Journey Maps & User Flow</h3>
				<picture>
					<source media="(max-width: 576px)" srcset="images/Case01MapSM.svg" />
					<source media="(min-width: 577px)" srcset="images/Case01MapLG.svg" />
					<img src="/images/Case01MapLG.svg" />
				</picture>
				<p>
					I love oat cake caramels marzipan cotton candy lollipop. Gingerbread
					fruitcake gummies chocolate sugar plum brownie pie. Tiramisu gummies I
					love macaroon. Lollipop marshmallow croissant jelly beans chocolate.
					Wafer macaroon gummies I love pie. Lemon drops marshmallow dragée
					lollipop. Croissant apple pie sugar plum. Cupcake dragée liquorice
					biscuit lollipop. Soufflé I love candy canes jujubes halvah I love
					marshmallow I love. Cupcake marshmallow ice cream bear claw jelly
					apple pie oat cake cupcake sweet roll. Liquorice pastry cake brownie
					danish chocolate cake sesame snaps ice cream. Ice cream oat cake
					muffin gummi bears muffin I love chocolate bar gingerbread sweet roll.
					Marzipan candy canes jelly-o pie. Chupa chups brownie cake cookie
					gummi bears cupcake ice cream.
				</p>
			</div>
		</section>

		<section id="post-closing2">
			<div class="post">
				<h3>Sketch Idea</h3>
				<picture>
					<source
						media="(max-width: 576px)"
						srcset="images/Case01SketchSM.svg"
					/>
					<source
						media="(min-width: 577px)"
						srcset="images/Case01SketchLG.svg"
					/>
					<img src="/images/Case01SketchLG.svg" />
				</picture>
				<p>
					Caramels I love cotton candy liquorice I love. Cupcake apple pie
					danish pudding gummies. Cake I love I love jelly jujubes lollipop
					marzipan caramels marzipan. Dessert candy sweet sweet roll pastry
					jujubes cake. Chocolate tart toffee lollipop. Sweet pudding sweet roll
					pudding chocolate bar. Brownie sweet roll ice cream sesame snaps I
					love cookie. Caramels muffin tart bonbon wafer apple pie I love gummi
					bears. I love cake tart. Biscuit muffin donut halvah dessert I love I
					love marzipan. Sweet roll muffin croissant. Muffin tootsie roll
					toffee. Chocolate bar I love caramels. Sesame snaps pie sweet roll
					chocolate bar.
				</p>
			</div>
		</section>

		<section id="post-closing3">
			<div class="post">
				<h3>Mock Ups</h3>
				<picture>
					<source
						media="(max-width: 576px)"
						srcset="images/Case01PhonesSM.svg"
					/>
					<source
						media="(min-width: 577px)"
						srcset="images/Case01PhonesLG.svg"
					/>
					<img src="/images/Case01PhonesLG.svg" />
				</picture>
				<p>
					Lemon drops cotton candy tootsie roll apple pie donut jujubes
					chocolate cake donut. Jelly-o brownie brownie sweet pudding toffee
					gummies. Marzipan jelly I love pastry I love candy. Sweet roll halvah
					candy canes lollipop cake. Powder I love halvah candy canes. Caramels
					cake sugar plum bonbon I love. Gummi bears I love caramels sesame
					snaps croissant. Biscuit fruitcake gingerbread tootsie roll candy.
					Jelly-o caramels I love. Cookie I love chocolate cake chupa chups
					wafer. Caramels wafer jelly beans sesame snaps halvah dessert
					macaroon. Pastry sweet roll I love gummies muffin cotton candy
					fruitcake tart.
				</p>
			</div>
		</section>

		<section id="post-closing4">
			<div class="post">
				<h3>Conclusion and Key Takeways</h3>
				<picture>
					<source media="(max-width: 576px)" srcset="images/Case01LastSM.svg" />
					<source
						media="(min-width: 577px)"
						srcset="images/Case01LastLG2.svg"
					/>
					<img src="/images/Case01LastLG2.svg" />
				</picture>
			</div>
		</section>

		<!-- CONTACT -->
		<section id="contact">
			<div class="bot">
				<div class="cta">
					<h3>Have your people contact my people ☎️</h3>
				</div>
				<ul class="bot-nav">
					<li>Email<br /><a href="#">JirahMae@Site.com</a></li>
					<li>Resume<br /><a href="#">Download PDF</a></li>
					<li>LinkedIn<br /><a href="#">/in/JirahMae</a></li>
					<li>Medium<br /><a href="#">@JirahMae</a></li>
				</ul>
			</div>
		</section>

		<!-- FOOTER -->
		<section id="footer">
			<div class="copyright">&copy; 2021 Jirah Mae</div>
		</section>
	</body>
	<script>
		console.log('GO AWAY!')
	</script>
	<!-- Hey, I see you, inspecting my code. Stop that, you person you. -->
</html>
